body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    height: 3rem;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title {
    display: flex-start;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.header__search {
    display: inline;
    padding-right: 1rem;
    margin-left: auto;
    font-size: 1rem;
}

.search__input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0.375rem 0.75rem;
    margin-right: -3px;
    font-size: 1.2rem;
    outline: none;
    transition: border-color 150ms;
    -webkit-transition: border-color 150ms;
}

.search__input:focus {
    border-color: rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border: solid 1px rgb(0, 123, 255);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(236, 236, 236);
    font-size: 1.2rem;
    margin-left: -1px;
    outline: none;
    padding: 0.375rem 0.75rem;
}

.main__nav {
    background-color: rgb(33, 37, 41);
    color: rgb(148, 148, 148);
}

.nav__ul {
    list-style-type: none;
    padding: 1rem;
}

.nav__ul>li {
    padding: 1rem;
}

.nav__ul>li:hover {
    color: #ffffff;
    transform: translate(2px);
}

.nav__li--active {
    color: #ffffff;
}

.menu {
    grid-area: menu;
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    padding: 1rem 1.5rem;
}

.card__top {
    border-radius: .25rem .25rem 0 0;
}

.card__bottom {
    border-top-right-radius: 0 0 .25rem .25rem;
}

.card__bottom::after {
    content: ">";
    float: right;
    width: 0;
    height: 0;
}

.main__card--blue {
    background-color: rgb(0, 123, 255);
    grid-area: blue-card;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    grid-area: yellow-card;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    grid-area: green-card;
}

.main__card--red {
    background-color: rgb(220, 53, 69);
    grid-area: red-card;
}

.main__cards>div>div {
    padding: 1rem;
}

.card__bottom {
    background: linear-gradient(180deg, rgba(65, 65, 65, 0.3), rgba(65, 65, 65, 0.1));
}

.content {
    grid-area: content;
}

.main-grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu content content content content content';
    grid-gap: 10px;
}

.main__cards {
    margin-top: 1rem;
    display: grid;
    grid-template-areas: 'blue-card yellow-card green-card red-card';
    grid-gap: 10px;
    color: #ffffff;
}